#flipkart-navbar {
    background-color: #7B291E;
    color: #FFFFFF;
}
/*.disabled {
    pointer-events:none; 
    opacity:0.6;         
}*/
thead{
background-color: #7B291E;
color: #FFFFFF;
}
.tdname{
    text-align:center;
}


.row1{
    padding-top: 10px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 20px;
}

.links {
    margin-top:20px;
    margin-left:15px;
    font-size: 16px;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}


.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
    
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
    width:250px;
    
}

.links {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.links:hover {
    color: #fff;
    text-decoration: none;
    background-color:#F9F8F7;
    font-family: 'Roboto', sans-serif;
  
}

.menu{
    cursor: pointer;
    
}
.flipkart-navbar container{
    width:100%;
}

